.cards {
  border: 30px solid rgb(184, 34, 34);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.img {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 30px solid rgb(184, 34, 34);
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(209, 37, 37);
  transition-property: font-size;
  transition-duration: 2s;
  border: 50px dashed;
}

h1:hover {
  font-size: 100px;
}

.btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}