.cards {
  border: 30px solid rgb(184, 34, 34);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.navbar {
  border: 5px solid rgb(184, 34, 34);
  font: red;
    font-weight: bolder;
}

.card {
  display: flex;
  justify-content: space-around;
   padding: 30px solid red;
   background-color: aliceblue;
   border: 25px solid black;
   /* align-items: center; */
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color: blue;
}
.img {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 30px solid rgb(184, 34, 34);
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(209, 37, 37);
  transition-property: font-size;
  transition-duration: 2s;
  border: 50px dashed;
}

.form {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border: solid 2px rgb(209, 37, 37);
  background-color: black;
}

h1:hover {
  font-size: 100px;
}

.btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}