form {
  padding: 50px;
  border: 30px solid rgb(184, 34, 34);
}

.navbar {
  border: 5px solid rgb(184, 34, 34);
  font: red;
  font-weight: bolder;
}


.tribs-main {
  display: flex;

  border: 25px solid rgb(184, 34, 34);
  display: flex;
  justify-content: space-around;

}

.tribs-info {
  padding: 30px;
  text-align: center;
  background-color:  rgb(184, 34, 34);
  transition-property: background-color;
  transition-duration: 2s;
  }

  .tribs-info:hover {
   
    background-color:  rgb(148, 146, 146);
   
    }

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

p {
  padding: 30px;
  text-align: center;
}

.footer {
  width: 100%;
}

h4 {
  padding-top: 20px;
}